# Environments
venv/
env/
.env

# API Keys and Secrets (CRITICAL)
key_param.py

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Documents
*.pdf
*.txt
!requirements.txt
*.csv

# Streamlit
.streamlit/
